html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.icon{
    margin-top:20px;
    font-size:unset;

}
.icon a:hover{
    color:darkslateblue;
    font-size:60px;
    transition:1s ease-in-out;
}